// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-bottom: 8px;
}
